In [5]:
import plotly
import pandas as pd
import numpy as np 
import plotly.graph_objs as go

In [14]:
df = pd.read_csv("finance-charts-apple.csv")

In [15]:
df.shape

(506, 11)

In [16]:
df.head()

,Date,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted,dn,mavg,up,direction
0,2/17/2015,127.489998,128.880005,126.919998,127.830002,63152400,122.905254,106.741052,117.927667,129.114281,Increasing
1,2/18/2015,127.629997,128.779999,127.449997,128.720001,44891700,123.760965,107.842423,118.940333,130.038244,Increasing
2,2/19/2015,128.479996,129.029999,128.330002,128.449997,37362400,123.501363,108.894245,119.889167,130.884089,Decreasing
3,2/20/2015,128.619995,129.500000,128.050003,129.500000,48948400,124.510914,109.785449,120.763500,131.741551,Increasing
4,2/23/2015,130.020004,133.000000,129.660004,133.000000,70974100,127.876074,110.372516,121.720167,133.067817,Increasing

In [19]:
data= [go.Scatter(x= df['Date'],y= df['AAPL.Volume'])]

plotly.offline.plot(data)

'temp-plot.html'

In [27]:
dataopen = [go.Scatter(y= df['AAPL.High'],x=df['AAPL.Volume'])]
plotly.offline.plot(dataopen)

'temp-plot.html'

In [29]:
dataclose = [go.Scatter(x=df['Date'],y= df['AAPL.Low'])]
plotly.offline.plot(dataclose)

'temp-plot.html'